.catalog
	.container
		.row
			.col-12
				a(href="#")
					.catalog-border
						span.catalog-link Каталог товаров
			.col-12
				.slider-container
					ul.slider-wrapper
						li.slider-item
							a(href="#")
								img.slider-img(src=require('../../img/slider_item.jpg'))
						li.slider-item
							a(href="#")
								img.slider-img(src=require('../../img/slider_item.jpg'))
						li.slider-item
							a(href="#")
								img.slider-img(src=require('../../img/slider_item.jpg'))
						li.slider-item
							a(href="#")
								img.slider-img(src=require('../../img/slider_item.jpg'))
						li.slider-item
							a(href="#")
								img.slider-img(src=require('../../img/slider_item.jpg'))
